//login page
$bg-page: #0d1117;
$bg-card: #0d1117;
$primary-color: #63dc79;
$primary-hover: #ddece1;
$text-color: #696f75;
$text-muted: #8b949e;
$border-radius: 6px;
$input-border: #30363d;
$input-focus: #c8cfca;

//input module

// Colors
$color-text-primary: #c9d1d9;
$color-text-secondary: #8b8b8b;
$color-text-error: #ff7b72;
$color-input-bg: #0d1117;
$color-input-border: #30363d;
$color-input-border-hover: #a9f1a9;
$color-input-border-focus: #a4adb6;
$color-box-shadow-focus: rgba(88, 166, 255, 0.3);

// Font Sizes
$font-size-label: 14px;
$font-size-input: 14px;
$font-size-error: 12px;

// Spacing
$spacing-label-bottom: 6px;
$spacing-input-padding-x: 12px;
$spacing-input-height: 40px;
$spacing-margin-bottom: 16px;
$spacing-error-top: 4px;

// Border / Radius
$border-radius-input: 6px;
$border-width-input: 1px;

